<div class="result" layout="row" layout-align="space-around center">
	<p [ngClass]="!winner ? 'incorrect' : 'correct'">
		{{ result }}
	</p>
</div>
<div class="result error" layout="row" layout-align="space-around center">
	<p>{{ errorMsg }}</p>
</div>

<div layout="row" layout-align="space-around center">
	<md-grid-list class="grid-list" cols="2" rowHeight="200px">
		<md-grid-tile class="grid-list-avatar">
			<dealer [person]="person" *ngFor="let person of dealer"></dealer>
			
		</md-grid-tile>

		<md-grid-tile class="avatar-player">
			<span>Your Card</span>	
		</md-grid-tile>

	</md-grid-list>
</div>

<div layout="row" layout-align="space-around center" *ngIf="dataLoaded">
	<md-grid-list class="grid-list" cols="2" rowHeight="330px">
		<md-grid-tile>
			<img class="card" src="{{ cards[0]?.images?.png }}">
		</md-grid-tile>
		<md-grid-tile>
			<img class="card"src="{{ cards[1]?.images?.png }}" *ngIf="show">
			<md-icon class="which-card" *ngIf="showIcon">help_outline</md-icon>
		</md-grid-tile>

	</md-grid-list>
</div>

<hr>
<div class="row-buttons" layout="row" layout-align="space-around center">
	
	<button md-raised-button color="primary" (click)="revealCard('lower',cards[0]?.value, cards[1]?.value, $event)" *ngIf="showGuessButtons">
		<md-icon>arrow_downward</md-icon> 
 		Lower?
	</button>

	<button md-raised-button color="warn" (click)="revealCard('higher',cards[0]?.value, cards[1]?.value, $event)" *ngIf="showGuessButtons">
		<md-icon>arrow_upward</md-icon> 
		Higher?
	</button>

	<button md-raised-button color="default" (click)="resetCards()" *ngIf="tryAgain">
		<md-icon>replay</md-icon> 
		Try Again
	</button>

</div>
<!--{{ cards[0]?.value | json }}-->

