
body {
	padding: 100px 0 60px;
}
[md-raised-button] {
  margin: 20px auto;
}

md-grid-tile-footer h3 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

md-grid-tile figure {
	align-content: flex-start;
	height: 60%;
}

figure { height: 40%; }

md-grid-tile, md-grid-tile img {
	display: flex;
	align-self: center;
	margin: auto;
}

img.card {
	align-self: flex-start;
	width: 200px;
}
.row-buttons {
	margin: 0 auto;
	text-align: center;
}

.result {
	display: flex;
	align-self: center;
	width: 100%;
	margin: 12px auto;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
}

.which-card {
	align-self: flex-start;
	margin-top: 100px;
	font-size: 50px;
}


img {
	display: flex;
	align-self: flex-start;
}

.result {
	display: flex;
	align-content: center;
	margin: auto;
}
.result.error p { color: red; }
.result p {
	display: flex;
	align-content: center;
	margin: auto;
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 900;
}

.correct {
	color: green;
}
.incorrect {
	color: red;
}

