<div class="dealer">
	<div class="avatar">
		<img src="./assets/images/{{ person.image }}" alt="{{ person.name }}">
		<!--<span>{{ person.name }}</span>-->
		<span>Dealer's Card</span>
	</div>
	
</div>