
.dealer {
	display: flex;
	align-self: center;
	
	margin-bottom: 0;
	/*padding: 20px;
	background: #f5f5f5;*/
	text-align: center;
	
}

.avatar img {
	display: block;
	width: 100%;
	border-radius: 100px;
	border: 3px solid #fff;
	text-align: center;
	margin: 0 auto 8px;
	width: 85px;
	width: 85px;
}
