body {
	padding: 100px 0 60px;
}

.app-wrapper {
	height: 100vh;
}

.md-raised-button {
  margin-top: 16px;
  margin-bottom: 16px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.header {
	display: flex;
	align-content: center;
	margin: auto;
}
.header h1 {
	display: flex;
	align-content: center;
	margin: auto;
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 32px;
	color: #353535;
}

md-toolbar.dark-bg { background: #111; }
.dark-bg { background: #888; }
