<div class="app-wrapper" [ngClass]="{'dark-bg': isClassVisible }"> 

	<md-toolbar color="primary" [ngClass]="{'dark-bg': isClassVisible }">
	   <md-icon>swap_vert</md-icon> 
	    <span>Berkadia Gambler</span>

	    <span class="fill-remaining-space"></span>

	    <button md-mini-fab color="primary" (click)="isClassVisible = !isClassVisible;">
		    <md-icon class="md-24">invert_colors</md-icon>
		</button>
	</md-toolbar>

	<div class="header">
		<h1>Choose High or Low</h1>
	</div>

	<app-game></app-game>

</div>