/* You can add global styles to this file, and also import other style files */
/*@import '../node_modules/font-awesome/css/font-awesome.css';*/
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';


body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}